kind: PersistentVolume
apiVersion: v1
metadata:
   name: {{ name_pv }}
   labels:
      type: local
spec:
   storageClassName: manual  
   capacity:
      storage: {{ capacity_pv }}Gi
   accessModes:
      - ReadWriteMany
   hostPath:
      path: "{{ direcotry_pv }}" 
