kind: PersistentVolumeClaim
apiVersion: v1
metadata:
   name: {{ name_pvc }}
spec:
   storageClassName: manual  
   accessModes:
      - ReadWriteMany
   resources:
      requests:
         storage: {{ capacity_pv }}Gi 