kind: PersistentVolume
apiVersion: v1
metadata:
   name: {{ name_pv_data }}
   labels:
      type: local
spec:
   storageClassName: data
   capacity:
      storage: {{ capacity_pv_data }}Gi
   accessModes:
      - ReadWriteMany
   hostPath:
      path: "{{ path_data }}"
