kind: PersistentVolumeClaim
apiVersion: v1
metadata:
   name: {{ name_pvc_download }}
spec:
   storageClassName: download
   accessModes:
      - ReadWriteMany
   resources:
      requests:
         storage: {{ capacity_pv_download }}Gi
