kind: PersistentVolumeClaim
apiVersion: v1
metadata:
   name: {{ name_pvc_config_password }}
spec:
   storageClassName: config
   accessModes:
      - ReadWriteMany
   resources:
      requests:
         storage: {{ capacity_pv_config_password }}Gi
