kind: PersistentVolume
apiVersion: v1
metadata:
   name: {{ name_pv_config_authelia }}
   labels:
      type: local
spec:
   storageClassName: config
   capacity:
      storage: {{ capacity_pv_config_authelia }}Gi
   accessModes:
      - ReadWriteMany
   hostPath:
      path: "{{ path_config_authelia }}"
