image:
  repository: ghcr.io/k8s-at-home/qbittorrent
  tag:
  pullPolicy: IfNotPresent

settings:
  automaticPortSetup: false
env:
  TZ: Europe/Paris
  PUID: "568"
  PGID: "568"

service:
  main:
    name: torrent
    ports:
      http:
        port: 8080
  bittorrent:
    enabled: false
    type: ClusterIP
    ports:
      bittorrent:
        enabled: true
        port: 6881
        protocol: TCP
        targetPort: 6881

ingress:
  main:
    enabled: true
    hosts:
      - host: torrent.{{ domain_name }}
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: torrent
                port:
                  number: 8080
    tls:
      - hosts:
        - torrent.{{ domain_name }}
        secretName: torrent-tls-cer
    annotations:
      #traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd
      cert-manager.io/cluster-issuer: {{ domain_name }}-issuer
      traefik.ingress.kubernetes.io/redirect-entry-point: https
      traefik.ingress.kubernetes.io/redirect-permanent: "true"

persistence:
  config:
    enabled: true
    subPath: config
    existingClaim: {{ name_pvc_config }}

  media:
    enabled: true
    subPath: media
    existingClaim: {{ name_pvc_data }}

  downloads:
    enabled: false
    mountPath: /downloads

metrics:
  enabled: false
  serviceMonitor:
    interval: 15s
    scrapeTimeout: 5s
    labels: {}
  prometheusRule:
    enabled: false
    labels: {}
    rules: []
      # - alert: qBittorrentDown
      #   annotations:
      #     description: qBittorrent service is down.
      #     summary: qBittorrent is down.
      #   expr: |
      #     qbittorrent_up == 0
      #   for: 5m
      #   labels:
      #     severity: critical
  exporter:
    image:
      repository: esanchezm/prometheus-qbittorrent-exporter
      tag: v1.2.0
      pullPolicy: IfNotPresent
    env:
      user: "admin"
      password: "adminadmin"
      port: 9022
      logLevel: INFO
