{
  "id": 0,
  "name": "Torrent Client {{ domain_name }}",
  "fields": [
    {
      "order": 0,
      "name": "host",
      "label": "Host",
      "value": "torrent",
      "type": "textbox",
      "advanced": false
    },
    {
      "order": 1,
      "name": "port",
      "label": "Port",
      "value": 6000,
      "type": "textbox",
      "advanced": false
    }
  ],
  "implementationName": "Transmission",
  "implementation": "Transmission",
  "configContract": "TransmissionSettings",
  "infoLink": "https://wiki.servarr.com/sonarr/supported#transmission",
  "tags": [
    0
  ],
  "enable": true,
  "protocol": "unknown",
  "priority": 0,
  "categories": [
    {
      "clientCategory": "string",
      "categories": [
        0
      ]
    }
  ],
  "supportsCategories": true
}